<section class="shelf-container">
	<div class="shelf-search">
		<a href="/search" class="search">
			<div class="top-home-search">输入书名/作者/关键字搜索</div>
		</a>
		<a href="javascript:" class="menu">
			<div></div>
		</a>
	</div>
	<ul class="channel-h5 shelf-list">
		<li class="list-h5">
			<div class="book-h5">
				<div class="cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01UV4BJkl42/czWZ3EONgKU2r3.jpg" />
					<p class="state">完结</p>
				</div>
				<div class="info">
					<p class="title">渣王作妃</p>
					<p class="author">浅浅的心</p>
					<p class="summary">最新：《后记》</p>
				</div>
			</div>
		</li>
	</ul>
</section>