<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="/static/css/swiper-3.4.1.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/static/css/all.css">
		<link rel="stylesheet" type="text/css" href="/static/css/pages/category.css">
		<title><%=nav %></title>
    </head>
    <body>
		<% include include/common_header.html %>
		<div class="category-container" id="category" v-bind:style="[screenHeight,screenWidth]">
			<section class="category-list">
				<h2>杂志分类</h2>
				<ul class="clearfix">
					<li v-for="item in magazine">
						<img :src="item.image" :alt="item.label">
						<div class="con">
							<p>{{item.label}}</p>
							<p>数量：{{item.count}}</p>
						</div>
					</li>
				</ul>
			</section>
			<section class="category-list book">
				<h2>图书分类</h2>
				<ul class="clearfix">
					<li v-for="item in book">
						<img :src="item.image" :alt="item.title">
						<div class="con">
							<p>{{item.label}}({{item.count}})</p>
						</div>
					</li>
				</ul>
			</section>
			<section class="category-list">
				<h2>男频分类</h2>
				<ul class="clearfix">
					<li v-for="item in male">
						<img :src="item.new_image" :alt="item.label">
						<div class="con">
							<p>{{item.label}}</p>
							<p>数量：{{item.fiction_count}}</p>
						</div>
					</li>
				</ul>
			</section>
			<section class="category-list list04">
				<h2>女频分类</h2>
				<ul class="clearfix">
					<li v-for="item in female">
						<img :src="item.new_image" :alt="item.label">
						<div class="con">
							<p>{{item.label}}</p>
							<p>数量：{{item.fiction_count}}</p>
						</div>
					</li>
				</ul>
			</section>
		</div>
    </body>
<script type="text/javascript" src="/static/script/vue.js"></script>
<script type="text/javascript" src="/static/script/zepto.js"></script>
<script type="text/javascript" src="/static/script/pages/category.js"></script>
<script src="/static/script/jquery-1.10.1.min.js"></script>
<script src="/static/script/pages/goback.js"></script>
</html>